.home{
  overflow:hidden;
}

.home__banner{
  display:flex;
  height: 100vh;
  gap:7rem;
  background:white;
  transform-origin: right;
  transition: all .5s ease-out; 
  z-index:10;
  /* flex-direction:column; */
}

.home__menuOpen{
  transform: scale(1) perspective(250px) rotateY(-5deg);
  cursor:pointer;
}

.home__bannerLeft{
  flex:0.53;
  display:flex;
  justify-content: flex-end;
}

.home__bannerLeftContainer{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.home__firstName{
  position:relative;
  width:949.875px;
  height:614.25px;
}

.home__line{
  height:5px;
  width:150px;
  background:red;
  margin:30px 0;
}

.home__bannerLeftButton{
  margin-top:30px;
  border:2px solid black;
  background:none;
  padding:1rem 3rem;
  font-size:1rem;
  font-weight:600;
  cursor: pointer;
  transition:all .2s ease;
}

.home__bannerLeftButton:hover{
  border:2px solid white;
  background:#111;
  color:white;
}

.home__bannerRight{
  flex:0.47;
  display:flex;
  align-items:center;
}

.home__bannerRightContainer{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position:relative;
  height:923.625px;
  width:719.625px;
}

@media screen and (max-width: 1950px) {
  .home__firstName{
    width:712.4px;
    height:460.6px;
  }

  .home__bannerRightContainer{
    height: 692.7px;
    width: 539.7px;
  }
}

@media screen and (max-width: 1600px) {
  .home__banner{
    gap:0rem;
  }

  .home__firstName{
    transform:scale(.75)
  }

  .home__bannerLeftContainer{
    align-items: flex-end;
  }

  .home__bannerLeftBottom{
    width: 79%;
  }

  .home__bannerLeftBottom p {
    /* width:86% */
  }

  .home__bannerLeftBottom p br{
    display:none;
  }
  
  .home__line {
    margin: 0px 0 30px;
  }

  .home__bannerLeftButton{
    transform: scale(.75);
    margin-left: -1.5rem;
    margin-top: 15px;
  }

  .home__bannerRightContainer{
    transform:scale(.75)
  }
}