.home{
  overflow:hidden;
}

.home__banner{
  display:flex;
  height: 100vh;
  gap:10rem;
  background:white;
  transform-origin: right;
  transition: all .5s ease; 
  z-index:10;
  /* flex-direction:column; */
}

.home__menuOpen{
  transform: scale(1) perspective(250px) rotateY(-5deg);
  cursor:pointer;
}

.home__bannerLeft{
  flex:0.5;
  display:flex;
  justify-content: flex-end;
}

.home__bannerLeftContainer{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.home__line{
  height:5px;
  width:150px;
  background:red;
  margin:30px 0;
}

.home__bannerLeftButton{
  margin-top:30px;
  border:2px solid black;
  background:none;
  padding:1rem 3rem;
  font-size:1rem;
  font-weight:600;
  cursor: pointer;
  transition:all .2s ease;
}

.home__bannerLeftButton:hover{
  border:2px solid white;
  background:#111;
  color:white;
}

.home__bannerRight{
  flex:0.5;
  display:flex;
  justify-content: flex-start;
}

.home__bannerRightContainer{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}