.work{
  z-index:10;
  background:white;
  transform-origin: right;
  transition: all .5s ease; 
  height: 100vh;
}

.work__menuOpen{
  transform: scale(1) perspective(250px) rotateY(-5deg);
  cursor:pointer;
}

.work__container{
  display: flex;
  flex-direction: column;
  height:100%;
  overflow: hidden;
}

.work__pageHeader{
  flex:0.15;
  display:flex;
  align-items:center;
  gap:.75rem;
  padding-left: 9rem;
}

.work__firstName{
  position:relative
}

.work__lastName{
  transform: translateY(19px);
  position:relative;
}

.work__body{
  flex: 0.85;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.work__bodyContainer{
  width:70%;
  display:flex;
  flex-direction:column;
}

.work__title{
  font-size:3.5rem;
}

.work__line{
  height:5px;
  width:150px;
  background:red;
  margin:25px 0;
}

.work__content{
  display:flex;
  flex-direction:column
}

.work__categories{
  display:flex;
  gap:1rem;
  margin-bottom:1rem;
  
}

.work__subjects{
  display:flex;
  gap:1rem;
  flex-wrap: wrap;
  height:59%;
  overflow-y:scroll;
}

.work__subjects::-webkit-scrollbar {
  width: 1rem; 
  /* height:100%;              width of the entire scrollbar */
}

.work__subjects::-webkit-scrollbar-track {
  /* background: orange;        color of the tracking area */
}

.work__subjects::-webkit-scrollbar-thumb {
  background-color: #ddd;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  /* border: 3px solid orange;  creates padding around scroll thumb */
}

.work__subject{
  width:25rem;
  height:25rem;
  position:relative;
  overflow:hidden;
  cursor:pointer;
}



.work__subjectTitle{
  position:absolute;
  width:100%;
  height:100%;
  background:white;
  z-index:1;
  opacity:0;
  padding:2rem;
  transition: all .2s ease;
}

.work__subject:hover .work__subjectTitle{
  opacity:1;
}